/*reset browser styles */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} 
ol { 
	padding-left: 1.4em;
	list-style: decimal;
}
ul {
	padding-left: 1.4em;
	list-style: none;
	color: black;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
a {
	text-decoration: none;
	color: black;
}
* {
	font-family: sans-serif;
	box-sizing: border-box;
}
/* end reset browser styles */

 /* GLOBAL */
 body {
	font-family: 'PT Sans', sans-serif;
	font-size: 13px;
	line-height: 22px;
	height: 100%;
	width: 100%;
 }
.page {
	position: relative;
	min-height: 100%;
	min-width: 1199px;
}
.container {
	width: 980px;
	margin: 0 auto;
}
footer {
	height: 220px;
}
a {
	color: #6C6C6C;
}
/* END GLOBAL */

/* FONTS*/
@font-face {
	font-family: 'Open Sans Condensed';
	src: url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
}
/* END FONTS*/

/* HEADER */
/*header logo*/
header {
	width: 100%;
	height: 230px;
	background: #DCDCDC;
}
.header__logo {
	position: relative;
}
.header__logo-brand {

}
.header__logo-img {
	position: absolute;
	top: 65px;
	left: 10px;
}
.header__logo-name, .header__logo-subname {
	position: absolute;
	top: -99px;
	left: -99px;
}
/* header callback*/
.header__callback {
	width: 270px;
	float: right;
	margin-top: 36px;
	margin-right: -21px;
}
.header__callback-phone {
	font-family: 'Open Sans Condensed';
	font-size: 40px;
	letter-spacing: 0.025em;	
	line-height: 46px;
	color: #767676;
}
.header__callback-text {
	font-family: 'PT Sans';
	font-weight: bold;
	font-size: 22px;
	margin-left: 87px;
	margin-top: 6px;
}
.header__callback-link {
	color: #767676;
	border-bottom: 1px dashed;
}
/* END HEADER */

/* NAVIGATION */
nav {
	background: #777777;
	height: 80px;
	padding-top: 26px;
}
.menu {

}
.menu-list {
	text-align: center;
	color: white;
	word-spacing: 19px;
}
.menu-not-space {
	word-spacing: 1px;
}
.menu-item {
	display: inline-block;
}
.menu-item:nth-of-type(1n+2) {
}
.menu-item-line {
	font-size: 30px;
}
.menu-link {
	color: white;
	font-size: 29px;
	font-family: 'PT Sans';
}
.menu-link:hover {
	text-decoration: underline;
}
/* END NAVIGATION*/ 

/* SLIDER */
.slide {
	height: 400px;
}
#slider-wrap { 
    max-width:100%; 
}
#slider {
    width:100%;
    height:400px;
    overflow: hidden;
    position:relative;
   	text-align: center;
}
.slide__item { 
    width:100%;
    height:100%;
}
.slide__control {
	position: relative;
}
#prewbutton, #nextbutton { 
    display:block;
    width:34px;
    height:100%;
    position:absolute;
    top:0;
    overflow:hidden;
    text-indent:-999px;
    background:url(../img/slide-row.jpg) left center no-repeat;
    opacity:0.8;
    z-index:3;
    outline:none !important;
}
#prewbutton {
	position: absolute;
	left:145px;
}
#nextbutton {
	position: absolute;
    right:155px;
    background:url(../img/slide-row.jpg) right center no-repeat;
}
#prewbutton:hover, #nextbutton:hover {
    opacity:1;
}
/* END SLIDER */

/* CONTENT */
.content {
	color: #767676;
	padding-bottom: 220px;;
}
.location {
	height: 46px;
	padding-top: 3px;
	margin-left: 10px;
	word-spacing: 5px;
}
.location-link {
	font-size: 13px;
	text-decoration: underline; 
}
.location-active {
	text-decoration: none;
}
.location-link-bit {
	word-spacing: normal; 
}
.content-wrap {
	margin-bottom: 113px;

}
/* leftblock block */
.leftblock {
	float: left;
	width: 200px;
}
/* leftblock menu */
.leftblock__menu {

}
.leftblock__menu-list {
	list-style-type: none;
	padding: 0;
	margin-bottom: 103px;
	margin-left: 9px;
}
.leftblock__menu-item {
	line-height: 29px;
}
.leftblock__menu-link {
	font-size: 17px;
}
.leftblock__menu-link-active {
	text-decoration: underline;
}
/* leftblock sub-menu */
.leftblock__menu-drop {
	margin-left: 3px;
}
.leftblock__menu-drop-list {
	list-style-type: disc;
	padding-left: 21px;
}
.leftblock__menu-drop-item {
	line-height: 20px;
}
.leftblock__menu-drop-link {
	font-size: 13px;
}
.leftblock__menu-drop-link-active {
	text-decoration: underline;
	color: black;
	font-weight: bold;
}
/* leftblock price */
.leftblock__pricelist {
	margin-left: 52px;
}
.leftblock__pricelist-link {

}
.leftblock__pricelist-img {

}
.leftblock__pricelist-text {
	font-family: 'PT Sans';
	font-weight: bold;
	font-size: 30px;
	margin-left: -27px;
	color: black;
}
/* centerblock */
.centerblock {
	width: 800px;
	margin-left: 200px;;
}
/* centerblock products */
.centerblock__products {

}
.centerblock__item {
	width: 250px;
	float: left;
	background: #DCDCDC;
	margin: 8px;
}
.centerblock__item:nth-of-type(1n+2) {

}
.centerblock__item-img-wrap {

}
.centerblock__item-img {
	margin-top: 20px;
	margin-left: 20px;
	margin-bottom: 10px;
}
.centerblock__item-text, .centerblock__item-price {
	width: 210px;
}
.centerblock__item-text {
	font-family: 'PT Sans';
	color: #767676;
	font-size: 19px;
	margin: 0 auto;
	line-height: 18px;
	margin-bottom: 53px;
}
.centerblock__item-price {
	margin-left: 16px;
	position: relative;
	margin-bottom: 21px;
}
.centerblock__item-value {
	color: #444444;
	font-family: 'PT Sans';
	font-size: 27px;
}
.centerblock__item-basket {
	position: absolute;
	display: block;
	height: 21px;
	width: 28px;
	background-image: url(../img/basket.png);
	background-repeat: no-repeat;
	top: 6px;
	right: 13px;
}
/* centerblock location bar */
.centerblock__loc {
	height: 104px;
}
.centerblock__loc-menu {

}
.centerblock__loc-list {
	text-align: center;
	padding-top: 23px;
	letter-spacing: 17px;
}
.centerblock__loc-item {
	display: inline-block;
}
.centerblock__loc-link {

}
.centerblock__loc-active {
	font-size: 18px;
}
/* centerblock information */
.centerblock__info {
	border-top: 1px solid #767676;
	padding-top: 23px
}
.centerblock__article-1, .centerblock__article-2 {
	width: 48%;
	font-family: 'PT Sans';
}
.centerblock__article-1 {
	float: left;
}
.centerblock__article-2 {
	float: right;
}
/* END CONTENT */

/* FEEDBACK */
.feedback {
	display: none;
	width:100%;
  min-height:100%;
  background-color: rgba(0,0,0,0.5);
  overflow:hidden;
  position:absolute;
  top:0;
  padding-top: 284px;
	padding-bottom:280px;
}
.feedback-wrap {
	position: relative;
	margin: 0 auto;
	height: 580px;
	width: 465px;
	background: #DCDCDC;
	padding-top: 33px;
	color: #535353;
}
.feedback__close {
	position: absolute;
	width: 27px;
	height: 27px;
	background: url(../img/close.png);
	color: white;
	top: -27px;
	right: -27px;
}
.feedback__header {
	font-family: 'PT Sans';
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 27px;
}
.feedback__form {
	font-family: 'PT Sans';
	font-size: 14px;
	width: 340px;
	margin: 0 auto;
}
.form-input-block {
	text-align: center;
	margin-bottom: 17px;
}
.form-label {
	display: block;
}
.form-input {
	width: 100%;
	height: 42px;
}
.form-input:focus {
	/*border: 1px solid #777777;*/
	outline: none;
}
.form-textarea {
	height: 140px;
}
.form-submit {
	text-align: center;
}
.form-button {
	width: 130px;
	height: 40px;
	color: white;
	background: #777777;
	font-family: 'PT Sans';
	font-weight: bold;
	font-size: 17.77px;
	text-transform: uppercase;
	border: none;
	cursor: pointer;
}
.invalide{
	border-style: solid;
  border-width: 1px;
  border-color: rgb(255, 131, 131);
  background-color: rgb(255, 255, 255);
  box-shadow: inset 0px 0px 13px 0px rgba(228, 106, 106, 0.75);
}
/* END FEEDBACK */

/* FOOTER */
footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	background: #777777;
	color: white;
	padding-top: 46px;
}
/* footer law*/
.footer__law {
	float: left;
	width: 220px;
	margin-left: 8px;
}
.footer__law-name {

}
.footer__law-mail {

}
/* footer menu*/
.footer__menu {
	font-size: 13px;
	float: left;
	width: 150px;
	margin-left: 113px;
}
.footer__menu-list {

}
.footer__menu-item {;
	line-height: 26px;
}
.footer__menu-link {
	color: white;
	text-decoration: underline;
}
/* footer logo*/
.footer__logo {
	float: right;
	width: 300px;
	margin-right: -60px;
	margin-top: 5px;
	color: white;
}
.footer__logo-img {
	float: left;
}
.footer__logo-text {
	margin-left: 67px;
	margin-top: -4px;
}
.footer__logo-subtext {
	text-decoration: underline;
}
/* END FOOTER */

/* CUSTOM */
.clearfix:after,.clearfix:before {
	content:"";
	display:table;
}
.clearfix:after {
	clear:both;
}
/* END CUSTOM */
/*.feedback {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1400px;
  height: 2315px;
  z-index: 107;
}
.Заголовок {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1400px;
  height: 2315px;
  z-index: 106;
}
.Обратная_связь {
  font-size: 24px;
  font-family: "PT Sans";
  color: rgb(83, 83, 83);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 615.094px;
  top: 313.1px;
  z-index: 105;
}
.форма {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1400px;
  height: 2315px;
  z-index: 103;
}
.Rectangle_7_copy_3 {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(195, 195, 195);
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 542px;
  top: 629px;
  width: 343px;
  height: 144px;
  z-index: 102;
}
.Сообщение {
  font-size: 14px;
  font-family: "PT Sans";
  color: rgb(83, 83, 83);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 678px;
  top: 609.7px;
  z-index: 101;
}
.Поле_обязательно_для_заполнения {
  font-size: 14px;
  font-family: "PT Sans";
  color: rgb(220, 127, 127);
  font-style: italic;
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 557px;
  top: 561.366px;
  width: 206px;
  height: 11px;
  z-index: 100;
}
.Слой_18 {

.Rectangle_7_copy_2 {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(255, 131, 131);
  background-color: rgb(255, 255, 255);
  box-shadow: inset 0px 0px 13px 0px rgba(228, 106, 106, 0.75);
  position: absolute;
  left: 545px;
  top: 550px;
  width: 337px;
  height: 38px;
  z-index: 98;
}*/

